<div class="card card-recipe v1" ng-class="{v1: recipe.release == 1, v2: recipe.release == 2}">
    <div class="card-banner">
        <img class="version-logo" ng-if="recipe.release == 1" ng-src="img/angularV1.svg" alt="angular version 1">
        <img class="version-logo" ng-if="recipe.release == 2" ng-src="img/angularV2.svg" alt="angular version 2">
        <span class="chip" ng-repeat="topic in recipe.topics">
            {{topic.title}}
        </span>
        <img class="card-level" ng-if="recipe.level_id == 1" ng-src="img/easy.svg" alt="easy level">
        <img class="card-level" ng-if="recipe.level_id == 2" ng-src="img/advanced.svg" alt="advanced level">
    </div>
    <div class="card-content">
        <p class="card-title">{{recipe.title}}</p>
        <span class="card-date">{{recipe.updated_at}}</span>
    </div>
    <div class="card-action">
        <a class="card-view" ng-href="#!/recipes/{{recipe.uuid}}">View</a>
        <span class="pull-right">{{recipe.views}} <i class="mdi-action-visibility card-icons"></i></span>
        <span class="pull-right">{{recipe.likes}} <i class="mdi-action-thumb-up card-icons"></i></span>
    </div>
</div>
