<div id="recipe-header" fixed-top ng-class="{'v1-header': recipeCtl.recipe.release == 1, 'v2-header': recipeCtl.recipe.release == 2}">
	<div class="container">
		<div class="row no-margin-bottom">
			<div class="col s12">
				<h1>{{recipeCtl.recipe.title}}</h1>
				<img ng-src="img/recipes/{{recipeCtl.recipe.img}}" class="hide-on-small-and-down" alt="" />
			</div>
		</div>
	</div>
	<div class="gray-banner single-recipe-gray-bar custom-box-shadow fixed">
		<div class="container">
			<div class="row">
				<div class="col s12">
					<span class="pull-left left-icons sr-view-icon watched" ng-class="{active: recipeCtl.watched}" tooltipped data-position="top" data-delay="50" data-tooltip="{{recipeCtl.watchedMsg}}">{{recipeCtl.recipe.views}}<i class="mdi-action-visibility card-icons"></i></span>
					<a href="javascript:void(0)" class="liked" ng-class="{active: recipeCtl.liked}" ng-click="recipeCtl.toggleLike()" tooltipped data-position="top" data-delay="50" data-tooltip="{{recipeCtl.likedMsg}}">
						<span class="pull-left left-icons no-margin-left">{{recipeCtl.recipe.likesArray.length}}<i class="mdi-action-thumb-up card-icons sr-like-icon"></i></span>
					</a>
					<a href="javascript:void(0)" class="pull-right bookmark" ng-if="recipeCtl.auth" ng-class="{active: recipeCtl.booked}" ng-click="recipeCtl.toggleBook()" tooltipped data-position="top" data-delay="50" data-tooltip="{{recipeCtl.bookedMsg}}">
						<span class="right-icons no-margin-left"><i class="mdi-action-bookmark"></i></span>
					</a>
					<div class="share-button pull-right">
						<ul>
							<li>
								<a class="dropdown-button" href="#!" data-activates="dropdown2" dropdown><i class="mdi-social-share" tooltipped data-position="top" data-delay="50" data-tooltip="Share it!"></i></a>
								<ul id='dropdown2' class='dropdown-content'>
									<li><a class="waves-effect waves-black" share-link="facebook"><i class="fa fa-facebook-square"></i></a></li>
									<li><a class="waves-effect waves-black" share-link="twitter"><i class="fa fa-twitter-square"></i></a></li>
									<li><a class="waves-effect waves-black" share-link="google"><i class="fa fa-google-plus-square"></i></a></li>
									<li><a class="waves-effect waves-black" share-link="linkedin"><i class="fa fa-linkedin-square"></i></a></li>
									<li><a href="mailto:" class="waves-effect waves-black"><i class="fa fa-envelope"></i></a></li>
									<!-- <li><a class="waves-effect waves-black" share-link="pocket"><i class="fa fa-get-pocket"></i></a></li> -->
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="recipe">
	<div class="container">
		<div class="row">
			<div class="col l9 m12 s12">
				<!-- Recipe -->
				<div class="card">
					<div class="card-content">
						<div nag-prism source="{{recipeCtl.recipe.content_converted}}"></div>
					</div>

					<!-- Plunker -->
					<iframe ng-if="recipeCtl.recipe.plunker" style="width: 100%; height: 300px" ng-src="{{recipeCtl.recipe.plunker_url}}" frameborder="0" allowfullscren="allowfullscren"></iframe>

					<!-- Codepen -->
					<!-- <codepen recipe="recipeCtl.recipe"></codepen>
					<script async src="//assets.codepen.io/assets/embed/ei.js"></script> -->
				</div>

				<div class="card" ng-if="recipeCtl.recipe.exercises.length">
					<div class="card-content">
						<div class="row">
							<div class="col s12">
								<h2>Exercises</h2>
								<div class="divider"></div>
							</div>
						</div>
						<div class="row">
							<div class="col s12">
								<ul class="collapsible" data-collapsible="accordion">
									<li ng-repeat="exercise in recipeCtl.recipe.exercises">
										<div class="collapsible-header">{{$index + 1}}. {{exercise.title}}</div>
										<div class="collapsible-body">
											<div nag-prism source="{{exercise.content_converted}}"></div>

											<!-- Codepen -->
											<!-- <codepen recipe="exercise"></codepen> -->

											<!-- Plunker -->
											<iframe ng-if="recipeCtl.recipe.plunker" style="width: 100%; height: 300px" ng-src="{{exercise.plunker_url}}" frameborder="0" allowfullscren="allowfullscren"></iframe>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<!-- Disqus Comments -->
				<div class="card">
					<div class="card-content">
						<dir-disqus disqus-shortname="angularjs-recipes" disqus-identifier="{{ recipeCtl.recipe.uuid }}" disqus-url="http://localhost:8000/#!/recipes/{{ recipeCtl.recipe.uuid }}">
						</dir-disqus>
					</div>
				</div>
			</div>

			<div class="col l3 hide-on-med-and-down">
				<div class="card">
					<div class="card-content">
						<span class="card-title black-text">Details</span>
						<ul class="collection">
							<li class="collection-item">
								<strong>Version</strong> {{recipeCtl.recipe.version}}
							</li>
							<li class="collection-item">
								<strong>Created</strong> {{recipeCtl.recipe.created_at | dateToISO | date:'d MMMM y'}}
							</li>
							<li class="collection-item">
								<strong>Updated</strong> {{recipeCtl.recipe.human_read_updated_at}}
							</li>
							<li class="collection-item" ng-if="recipeCtl.recipe.exercises.length">
								<strong>Exercises</strong> {{recipeCtl.recipe.exercises.length}}
							</li>
						</ul>
					</div>
				</div>

				<div class="card" ng-if="recipeCtl.recipe.resources.length">
					<div class="card-content">
						<span class="card-title black-text">Resources</span>
						<ul class="collection">
							<a class="collection-item black-text" tooltipped data-position="top" data-delay="50" data-tooltip="Read about {{resource.title}}" ng-repeat="resource in recipeCtl.recipe.resources" ng-href="{{resource.url}}" target="_blank">
								<span class="right-topic-title-resources">{{resource.title}}</span>
							</a>
						</ul>
					</div>
				</div>

				<div class="card">
					<div class="card-content">
						<span class="card-title black-text">Topics</span>
						<ul class="collection">
							<a ng-href="#!/topics/{{topic.uuid}}/recipes" tooltipped data-position="top" data-delay="50" data-tooltip="View recipes about {{topic.title}}" class="collection-item black-text" ng-repeat="topic in recipeCtl.topics">
								<div class="parent-right-topic-title">
									<span class="right-topic-title">{{topic.title}}</span>
									<span class="badge custom-red white-text">{{topic.recipes.length}}</span>
								</div>
							</a>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
