@charset "UTF-8";
h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

.markdown-body p {
  font-size: 16px;
}

.text-red {
  color: #d0021b !important;
}

.clear:after {
  display: table;
  clear: both;
  content: "";
}

.beta, .ibeta, .fbeta {
  position: relative;
}
.beta:after, .ibeta:after, .fbeta:after {
  content: "beta";
  position: absolute;
  color: #fff;
  font-weight: 100;
  letter-spacing: 1.2px;
}

.beta:after {
  top: -5px;
  right: 4px;
  font-size: 8px;
}
@media (min-width: 600px) {
  .beta:after {
    font-size: 9px;
    right: 2px;
  }
}
@media (min-width: 660px) {
  .beta:after {
    font-size: 10px;
    right: 0px;
  }
}

.ibeta:after {
  top: -20px;
  font-size: 8px;
  right: -23px;
  letter-spacing: 1px;
}

.fbeta:after {
  top: -5px;
  left: 14rem;
  font-size: 10px;
}

.custom-red {
  background-color: #d0021b;
}
.custom-red:hover {
  background-color: #b70218;
}
.custom-red:focus {
  background-color: #d0021b;
}

.decoration {
  position: relative;
}
.decoration:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 50px;
  border-bottom: 2px solid #d0021b;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.badge {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav .brand-logo {
  font-size: 20px;
  padding-left: 28px;
  background: url(../img/logo.png) no-repeat left center;
  background-size: 25px;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  nav .brand-logo {
    background-image: url("../img/logo@2x.png");
    background-size: 25px auto;
  }
}
@media (min-width: 600px) {
  nav .brand-logo {
    padding-left: 38px;
    font-size: 26px;
    background-size: 35px;
  }
}
@media (min-width: 600px) and (min--moz-device-pixel-ratio: 1.3), (min-width: 600px) and (-o-min-device-pixel-ratio: 2.6 / 2), (min-width: 600px) and (-webkit-min-device-pixel-ratio: 1.3), (min-width: 600px) and (min-device-pixel-ratio: 1.3), (min-width: 600px) and (min-resolution: 1.3dppx) {
  nav .brand-logo {
    background-image: url("../img/logo@2x.png");
    background-size: 35px auto;
  }
}

@media (min-width: 660px) {
  nav .brand-logo {
    font-size: 30px;
    padding-left: 43px;
  }
}
@media (min-width: 660px) and (min--moz-device-pixel-ratio: 1.3), (min-width: 660px) and (-o-min-device-pixel-ratio: 2.6 / 2), (min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.3), (min-width: 660px) and (min-device-pixel-ratio: 1.3), (min-width: 660px) and (min-resolution: 1.3dppx) {
  nav .brand-logo {
    background-image: url("../img/logo@2x.png");
    background-size: 40px auto;
  }
}

nav ul li:hover,
nav ul li.active {
  background-color: #d0021b;
}

nav ul li {
  height: 64px;
}

nav .brand-logo {
  padding-right: 28px;
}

.avatar-img {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.dropdown-content li > a,
.dropdown-content li > span {
  color: #fff;
}
.dropdown-content li > a:hover,
.dropdown-content li > span:hover {
  background-color: #d0021b;
}

#blog {
  background: #eee url(../img/blackboard.png) no-repeat center top;
  background-size: 100% 300px;
  padding-top: 100px;
}
#blog .header {
  height: 120px;
  background-color: #d0021b;
  color: #fff;
  padding: 20px;
}
#blog .header .avatar-container {
  display: table;
}
#blog .header .avatar {
  display: table-cell;
}
#blog .header .avatar img {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  vertical-align: middle;
}
#blog .header .details {
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
}
#blog .header .details h5 {
  margin-top: 5px;
}
#blog .header .details h6 {
  color: #333333;
}
#blog .body {
  background-color: #fff;
  color: #333333;
  font-size: 20px;
  padding: 20px 40px;
}
#blog .body .title {
  margin: 10px 0;
}
#blog .body .date {
  color: #aaa;
}
#blog .body hr {
  border: none;
  border-bottom: 1px solid #aaa;
}
#blog .footer {
  min-height: 60px;
  padding: 20px;
  background-color: #333333;
  color: #fff;
}
#blog .footer .row {
  margin-bottom: 0;
}
#blog .footer h4 {
  margin: 0;
}
#blog .footer .fa-heart {
  margin-top: 8px;
}

footer.page-footer {
  background-color: #333333;
  margin-top: 0;
}
footer.page-footer .footer-copyright {
  background-color: #212121;
}
footer.page-footer .footer-copyright .social-icons {
  display: inline-block;
  margin: 20px auto;
  list-style: none;
  padding: 0;
  font-size: 22px;
}
footer.page-footer .footer-copyright .social-icons li {
  margin-left: 20px;
  display: inline-block;
}
footer.page-footer .footer-copyright .social-icons li .social {
  display: inline-block;
  position: relative;
  width: 25px;
  height: 25px;
}
footer.page-footer .footer-copyright .social-icons li .social:before {
  position: absolute;
  font-family: FontAwesome;
  color: white;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
footer.page-footer .footer-copyright .social-icons li .social:hover:before {
  color: #d0021b;
}
footer.page-footer .footer-copyright .social-icons li .social.tw:before {
  content: "";
}
footer.page-footer .footer-copyright .social-icons li .social.gt:before {
  content: "";
}
footer.page-footer .footer-copyright .social-icons li .social.cp:before {
  content: "";
}
footer .logo {
  width: 20px;
  height: auto;
}
