#error-page {
  min-height: 350px;
  background: #333333 url(../img/error_board.jpg) no-repeat center;
  background-size: cover;
}
@media only screen and (min-width: 500px) {
  #error-page {
    min-height: 450px;
  }
}
@media only screen and (min-width: 800px) {
  #error-page {
    min-height: 750px;
  }
}
#error-page h2 {
  color: #ffffff;
  font-weight: 300;
  font-size: 24px;
}
@media only screen and (min-width: 500px) {
  #error-page h2 {
    font-size: 28px;
  }
}
@media only screen and (min-width: 800px) {
  #error-page h2 {
    font-size: 30px;
  }
}
#error-page img {
  width: 100%;
  width: 300px;
}
@media only screen and (min-width: 500px) {
  #error-page img {
    width: 400px;
  }
}
@media only screen and (min-width: 800px) {
  #error-page img {
    width: 500px;
  }
}
@media only screen and (min-width: 1200px) {
  #error-page img {
    width: 600px;
  }
}
