h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

.markdown-body p {
  font-size: 16px;
}

.text-red {
  color: #d0021b !important;
}

.beta, .ibeta, .fbeta {
  overflow: visible;
  position: relative;
}
.beta:after, .ibeta:after, .fbeta:after {
  content: "beta";
  position: absolute;
  color: #fff;
  font-size: 10px;
  font-weight: 100;
  letter-spacing: 1.2px;
}

.beta:after {
  top: -5px;
  right: -28px;
}

.ibeta:after {
  top: -20px;
  font-size: 8px;
  right: -23px;
  letter-spacing: 1px;
}

.fbeta:after {
  top: -5px;
  left: 14rem;
}

.custom-red {
  background-color: #d0021b;
}
.custom-red:hover {
  background-color: #b70218;
}
.custom-red:focus {
  background-color: #d0021b;
}

.decoration {
  position: relative;
}
.decoration:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 50px;
  border-bottom: 2px solid #d0021b;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.badge {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav .brand-logo {
  font-size: 20px;
  padding-left: 28px;
  background: url(../img/logo.png) no-repeat left center;
  background-size: 25px;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  nav .brand-logo {
    background-image: url("../img/logo@2x.png");
    background-size: 25px auto;
  }
}
@media (min-width: 600px) {
  nav .brand-logo {
    padding-left: 38px;
    font-size: 26px;
    background-size: 35px;
  }
}
@media (min-width: 600px) and (min--moz-device-pixel-ratio: 1.3), (min-width: 600px) and (-o-min-device-pixel-ratio: 2.6 / 2), (min-width: 600px) and (-webkit-min-device-pixel-ratio: 1.3), (min-width: 600px) and (min-device-pixel-ratio: 1.3), (min-width: 600px) and (min-resolution: 1.3dppx) {
  nav .brand-logo {
    background-image: url("../img/logo@2x.png");
    background-size: 35px auto;
  }
}

@media (min-width: 660px) {
  nav .brand-logo {
    font-size: 30px;
    padding-left: 43px;
  }
}
@media (min-width: 660px) and (min--moz-device-pixel-ratio: 1.3), (min-width: 660px) and (-o-min-device-pixel-ratio: 2.6 / 2), (min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.3), (min-width: 660px) and (min-device-pixel-ratio: 1.3), (min-width: 660px) and (min-resolution: 1.3dppx) {
  nav .brand-logo {
    background-image: url("../img/logo@2x.png");
    background-size: 40px auto;
  }
}

nav ul li:hover,
nav ul li.active {
  background-color: #d0021b;
}

.avatar-img {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.dropdown-content li > a,
.dropdown-content li > span {
  color: #fff;
}
.dropdown-content li > a:hover,
.dropdown-content li > span:hover {
  background-color: #d0021b;
}

#banner {
  min-height: 600px;
  background: #333333 url(../img/blackboard.png) no-repeat center;
  background-size: cover;
}
#banner h2 {
  color: #ffffff;
  font-weight: 300;
}
#banner img {
  width: 100%;
  max-width: 500px;
}

footer.page-footer {
  background-color: #333333;
  margin-top: 0;
}
footer.page-footer .footer-copyright {
  background-color: #212121;
}
footer .logo {
  width: 20px;
  height: auto;
}
