.card-serie .bookmark.active i, .card-serie .liked.active i, .card-serie .watched.active i {
  color: #d0021b;
}
.card-serie .card-banner {
  -moz-border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px;
  border-radius: 2px 2px 0 0;
  height: 151px;
  position: relative;
  z-index: 0;
}
.card-serie .card-banner .version-logo {
  display: block;
  height: 145px;
  position: absolute;
  right: 0px;
  opacity: 0.7;
  top: 3px;
  z-index: -1;
}
.card-serie .card-banner .serie-card-title {
  display: block;
  margin: auto;
  max-width: 90%;
  padding-top: 60px;
}
.card-serie .card-banner .lessons-link {
  display: inline-block;
  position: absolute;
  bottom: 16px;
  color: #fff;
  left: 16px;
  font-size: 16px;
  font-weight: 400;
  height: 24px;
}
.card-serie .card-banner .lessons-count {
  display: inline-block;
  width: 24px;
  height: 24px;
  padding-top: 2px;
  text-align: center;
  background-color: #fff;
  font-weight: 900;
  font-size: 14px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #2b2b2b;
}
.card-serie .card-content {
  padding: 24px 16px;
  min-height: 195px;
}
@media only screen and (min-width: 320px) {
  .card-serie .card-content {
    min-height: 165px;
  }
}
@media only screen and (min-width: 466px) {
  .card-serie .card-content {
    min-height: 135px;
  }
}
@media only screen and (min-width: 601px) {
  .card-serie .card-content {
    min-height: 195px;
  }
}
@media only screen and (min-width: 731px) {
  .card-serie .card-content {
    min-height: 165px;
  }
}
@media only screen and (min-width: 1321px) {
  .card-serie .card-content {
    min-height: 135px;
  }
}
.card-serie .card-content .card-title {
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
  color: #212121;
  margin-bottom: 7px;
  display: block;
}
.card-serie .card-content .card-date {
  font-size: 16px;
  color: #727272;
  font-weight: 400;
}
.card-serie .card-action {
  border: none;
  padding: 0px 16px 24px;
}
.card-serie .card-action .card-view {
  font-size: 18px;
  color: #d0021b;
}
.card-serie .card-action .card-view:hover {
  color: #000;
}
.card-serie .card-action .card-icons {
  font-size: 20px;
  padding-right: 16px;
  padding-left: 5px;
}
.card-serie .card-action .mdi-action-visibility {
  padding-right: 0px;
}
.card-serie .card-action .mdi-action-visibility:before {
  position: relative;
  top: 2px;
}
.card-serie.v1 .card-banner {
  background: #2b2b2b;
}
.card-serie.v2 .lessons-count {
  color: #0C5EB9;
}
.card-serie.v2 .card-banner {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjEuMCIgeDI9IjEuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBlNjZjNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzA0NDY5NSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, #0e66c4), color-stop(100%, #044695));
  background-image: -moz-linear-gradient(bottom, #0e66c4 0%, #044695 100%);
  background-image: -webkit-linear-gradient(bottom, #0e66c4 0%, #044695 100%);
  background-image: linear-gradient(to top right, #0e66c4 0%, #044695 100%);
}
