@charset "UTF-8";
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #f2f2f2;
}

main {
  flex: 1 0 auto;
}

@media (min-width: 992px) {
  .container {
    width: 85%;
  }
}
.markdown-body {
  min-width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

.markdown-body p {
  font-size: 16px;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-padding-left {
  padding-left: 0;
}

.text-red {
  color: #d0021b !important;
}

.clear:after {
  display: table;
  clear: both;
  content: "";
}

.beta, .ibeta, .fbeta {
  position: relative;
}
.beta:after, .ibeta:after, .fbeta:after {
  content: "beta";
  position: absolute;
  color: #fff;
  font-weight: 100;
  letter-spacing: 1.2px;
}

.beta:after {
  top: -5px;
  right: 4px;
  font-size: 8px;
}
@media (min-width: 600px) {
  .beta:after {
    font-size: 9px;
    right: 2px;
  }
}
@media (min-width: 660px) {
  .beta:after {
    font-size: 10px;
    right: 0px;
  }
}

.ibeta:after {
  top: -20px;
  font-size: 8px;
  right: -23px;
  letter-spacing: 1px;
}

.fbeta:after {
  top: -5px;
  left: 14rem;
  font-size: 10px;
}

.custom-red {
  background-color: #d0021b;
}
.custom-red:hover {
  background-color: #b70218;
}
.custom-red:focus {
  background-color: #d0021b;
}

.custom-gray {
  background-color: #9B9B9B;
}
.custom-gray:hover {
  background-color: #8e8e8e;
}
.custom-gray:focus {
  background-color: #9B9B9B;
}

.custom-yellow {
  background-color: #fbc02d;
}
.custom-yellow:hover {
  background-color: #fbb814;
}
.custom-yellow:focus {
  background-color: #fbc02d;
}

.red-bg {
  background-color: #d0021b;
}

.yellow-bg {
  background-color: #fbc02d;
}

.decoration {
  position: relative;
}
.decoration:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 50px;
  border-bottom: 2px solid #d0021b;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.badge {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav .brand-logo {
  font-size: 20px;
  padding-left: 28px;
  background: url(../img/logo.png) no-repeat left center;
  background-size: 25px;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  nav .brand-logo {
    background-image: url("../img/logo@2x.png");
    background-size: 25px auto;
  }
}
@media (min-width: 600px) {
  nav .brand-logo {
    padding-left: 38px;
    font-size: 26px;
    background-size: 35px;
  }
}
@media (min-width: 600px) and (min--moz-device-pixel-ratio: 1.3), (min-width: 600px) and (-o-min-device-pixel-ratio: 2.6 / 2), (min-width: 600px) and (-webkit-min-device-pixel-ratio: 1.3), (min-width: 600px) and (min-device-pixel-ratio: 1.3), (min-width: 600px) and (min-resolution: 1.3dppx) {
  nav .brand-logo {
    background-image: url("../img/logo@2x.png");
    background-size: 35px auto;
  }
}

@media (min-width: 660px) {
  nav .brand-logo {
    font-size: 30px;
    padding-left: 43px;
  }
}
@media (min-width: 660px) and (min--moz-device-pixel-ratio: 1.3), (min-width: 660px) and (-o-min-device-pixel-ratio: 2.6 / 2), (min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.3), (min-width: 660px) and (min-device-pixel-ratio: 1.3), (min-width: 660px) and (min-resolution: 1.3dppx) {
  nav .brand-logo {
    background-image: url("../img/logo@2x.png");
    background-size: 40px auto;
  }
}

nav ul li:hover,
nav ul li.active {
  background-color: #d0021b;
}

nav ul li {
  height: 64px;
}

.waves-fix {
  top: -1px;
}

.fixed-top {
  margin-bottom: 84px !important;
}
.fixed-top .fixed {
  position: fixed;
  top: 56px;
  width: 100%;
  z-index: 2;
}
@media only screen and (min-width: 601px) {
  .fixed-top .fixed {
    top: 64px;
  }
}

nav .brand-logo {
  padding-right: 28px;
}

.avatar-img {
  float: left;
  margin: 10px 5px 0 0;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #d0021b;
}

.dropdown-content li > a,
.dropdown-content li > span {
  color: #fff;
}
.dropdown-content li > a:hover,
.dropdown-content li > span:hover {
  background-color: #d0021b;
}

#recipe-header {
  background-color: #d0021b;
  color: #fff;
  margin-bottom: 20px;
}
#recipe-header h1 {
  margin: 53px 0;
}
#recipe-header p {
  font-size: 16px;
  margin: -52px 0 40px 0;
}
#recipe-header p i {
  margin: 3px;
}
#recipe-header .recipe-list-title {
  margin: 44px 0 44px 0;
}
#recipe-header .no-margin-bottom {
  margin-bottom: 0;
}
#recipe-header .no-padding-left {
  padding-left: 0;
}
#recipe-header #search {
  background-color: #212121;
  display: block;
}
#recipe-header #search .relative-for-clear-btn {
  position: relative;
}
#recipe-header #search input {
  box-shadow: none;
  display: inline-block;
}
#recipe-header #search input:focus {
  border-bottom: 1px solid #d0021b;
}
#recipe-header #search .clear-button {
  position: absolute;
  color: #fff;
  font-size: 20px;
  top: 4px;
  right: 12px;
}
#recipe-header #search .clear-button:hover {
  color: #d0021b;
}
@media only screen and (min-width: 381px) {
  #recipe-header #search .clear-button {
    right: 15px;
    font-size: 25px;
    top: 3px;
  }
}
@media only screen and (min-width: 992px) {
  #recipe-header #search .clear-button {
    top: 4px;
  }
}
@media only screen and (min-width: 1200px) {
  #recipe-header #search .clear-button {
    top: 5px;
  }
}
#recipe-header #toggle-search {
  height: 64px;
  display: block;
  padding: 5px 10px;
}
#recipe-header #toggle-search i {
  font-size: 36px;
  color: white;
}
#recipe-header #toggle-search:hover {
  background-color: #d0021b;
}
@media only screen and (max-width: 380px) {
  #recipe-header #toggle-search {
    padding: 12px 9px;
  }
  #recipe-header #toggle-search i {
    font-size: 25px;
  }
}
#recipe-header .check-v-angular {
  margin-left: 5px;
  display: inline-block;
  height: 64px;
  padding-top: 20px;
}
#recipe-header .check-v-angular p {
  display: inline-block;
  padding-left: 5px;
  font-size: 16px;
  margin: 0 auto;
}
@media only screen and (max-width: 380px) {
  #recipe-header .check-v-angular {
    font-size: 13px;
  }
}
#recipe-header .check-v-angular label {
  padding-left: 23px;
  color: white;
  font-size: 16px;
}
@media only screen and (max-width: 380px) {
  #recipe-header .check-v-angular label {
    font-size: 13px;
  }
}
#recipe-header .check-v-angular .filled-in:checked + label:after {
  background-color: #d0021b;
  border: 2px solid #d0021b;
}
#recipe-header .check-v-angular .filled-in:checked + label:before {
  border-right: 3px solid white;
  border-bottom: 3px solid white;
}
#recipe-header .check-v-angular .filled-in:not(:checked) + label:after {
  background-color: white;
  border: 2px solid #838383;
}

.gray-banner {
  background-color: #9B9B9B;
  height: 64px;
  margin-bottom: 0px;
}
.gray-banner #sort-list {
  display: inline-block;
  margin-left: 10px;
}
.gray-banner #sort-list li {
  padding-top: 2px;
}
@media only screen and (min-width: 992px) {
  .gray-banner #sort-list li {
    padding-top: 1px;
  }
}
.gray-banner .btn-flat {
  background-color: white;
  padding: 0px 15px;
  color: #212121;
}
.gray-banner .btn-flat:hover {
  background-color: #d0021b;
  color: white;
}
.gray-banner ul li {
  display: inline-block;
  font-size: 16px;
}
.gray-banner ul li:hover {
  background-color: #9B9B9B;
}
.gray-banner ul .active {
  color: white;
  background-color: #d0021b;
}
.gray-banner ul li + li {
  margin-left: 5px;
}
.gray-banner ul li:first-child {
  margin-left: 10px;
}
.gray-banner #sort-list {
  display: block;
}
@media only screen and (max-width: 760px) {
  .gray-banner #sort-list {
    display: none;
  }
}
.gray-banner .sort-button {
  display: none;
  line-height: 62px;
  height: 64px;
  width: 90px;
}
@media only screen and (max-width: 380px) {
  .gray-banner .sort-button {
    font-size: 13px;
    width: 75px;
  }
}
.gray-banner .sort-button ul {
  margin-top: 0;
}
.gray-banner .sort-button ul li {
  height: 64px;
  text-align: center;
}
.gray-banner .sort-button .dropdown-button {
  margin: 0;
  display: inline-block;
  width: 90px;
  color: white;
  height: 64px;
}
@media only screen and (max-width: 380px) {
  .gray-banner .sort-button .dropdown-button {
    font-size: 13px;
    width: 75px;
  }
}
.gray-banner .sort-button .dropdown-buttonul {
  margin: 0;
}
.gray-banner .sort-button .dropdown-button a {
  height: 64px;
}
.gray-banner .sort-button .dropdown-button:hover {
  background-color: #d0021b;
}
.gray-banner .sort-button .dropdown-button span {
  display: inline-block;
  height: 64px;
}
.gray-banner .sort-button #dropdown1 {
  background-color: white;
  padding: 0px;
}
.gray-banner .sort-button #dropdown1 li {
  display: list-item;
  margin-left: 0px;
  text-align: left;
  background-color: white;
  border-bottom: 1px solid #F2F2F2;
  height: 64px;
}
.gray-banner .sort-button #dropdown1 li a {
  text-align: center;
  height: 64px;
  color: #212121;
  padding: 22px;
}
.gray-banner .sort-button #dropdown1 li a:hover {
  color: white;
}
@media only screen and (max-width: 380px) {
  .gray-banner .sort-button #dropdown1 {
    width: 75px;
  }
}
.gray-banner .sort-button #dropdown1 .active {
  color: white;
}
@media only screen and (max-width: 760px) {
  .gray-banner .sort-button {
    display: inline-block;
  }
}

#view-as-btns {
  display: none;
  margin-left: 10px;
}
#view-as-btns a {
  font-size: 16px;
}
@media only screen and (min-width: 890px) {
  #view-as-btns {
    display: inline-block;
  }
}

a {
  color: inherit;
}

.list-tile {
  line-height: 1.2;
  font-size: 16px;
  margin: 10px 0 0;
}
@media only screen and (min-width: 400px) {
  .list-tile {
    font-size: 18px;
  }
}
@media only screen and (min-width: 650px) {
  .list-tile {
    font-size: 20px;
  }
}

.list-date {
  display: inline-block;
  color: #727272 !important;
  margin: 5px 10px 0 0 !important;
  font-size: 14px;
}
@media only screen and (min-width: 400px) {
  .list-date {
    font-size: 15px;
  }
}
@media only screen and (min-width: 601px) {
  .list-date {
    display: block;
  }
}

.divider {
  margin-top: 10px;
}

.left-info-icons {
  display: none;
}
@media only screen and (min-width: 420px) {
  .left-info-icons {
    display: inline-block;
    padding-top: 3px;
  }
}
@media only screen and (min-width: 600px) {
  .left-info-icons {
    display: block;
  }
}

.right-info-icons {
  display: inline-block;
}
@media only screen and (min-width: 420px) {
  .right-info-icons {
    display: none;
  }
}

.list-icons {
  margin-left: 12px;
  font-size: 14px;
  font-size: 16px;
}
.list-icons i {
  margin-left: 3px;
}

.no-margin-left {
  margin-left: 0;
}

.list-version {
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin-right: 15px;
  margin-top: 10px;
}
@media only screen and (min-width: 650px) {
  .list-version {
    width: 70px;
    height: 70px;
  }
}

.list-content {
  width: calc(100% - 70px);
}
@media only screen and (min-width: 650px) {
  .list-content {
    width: calc(100% - 90px);
  }
}

.l-v1 {
  background: #2b2b2b;
}

.l-v2 {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjEuMCIgeDI9IjEuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBlNjZjNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzA0NDY5NSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, #0e66c4), color-stop(100%, #044695));
  background-image: -moz-linear-gradient(bottom, #0e66c4 0%, #044695 100%);
  background-image: -webkit-linear-gradient(bottom, #0e66c4 0%, #044695 100%);
  background-image: linear-gradient(to top right, #0e66c4 0%, #044695 100%);
}

.version-logo-list {
  display: block;
  margin: auto;
  width: 70%;
  margin-top: 7px;
}
@media only screen and (min-width: 650px) {
  .version-logo-list {
    margin-top: 10px;
  }
}

.recipe-list-item {
  float: none !important;
}
.recipe-list-item:after {
  clear: both;
  content: "";
  display: table;
}
.recipe-list-item .chip {
  display: none;
  background: none;
  color: #d0021b;
  padding-left: 0;
  margin-right: 5px;
  font-size: 16px;
  font-weight: 400;
}
@media only screen and (min-width: 601px) {
  .recipe-list-item .chip {
    display: inline-block;
  }
}

.single-recipe-gray-bar .left-icons {
  font-size: 25px;
  margin-top: 14px;
  margin-right: 20px;
}
.single-recipe-gray-bar .left-icons i {
  padding-left: 5px;
}
.single-recipe-gray-bar .right-icons {
  display: inline-block;
  font-size: 30px;
  margin-top: 10px;
  margin-left: 20px;
}
.single-recipe-gray-bar .sr-share-icon {
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.single-recipe-gray-bar .sr-share-icon:hover {
  color: #d0021b;
}

.share-button {
  display: inline-block;
  line-height: 62px;
  height: 64px;
  width: 90px;
}
@media only screen and (max-width: 380px) {
  .share-button {
    font-size: 13px;
    width: 75px;
  }
}
.share-button ul {
  margin-top: 0;
}
.share-button ul li {
  height: 64px;
  text-align: center;
}
.share-button ul li i {
  font-size: 30px;
}
.share-button .dropdown-button {
  margin: 0;
  display: inline-block;
  width: 90px;
  color: white;
  height: 64px;
}
@media only screen and (max-width: 380px) {
  .share-button .dropdown-button {
    font-size: 13px;
    width: 75px;
  }
}
.share-button .dropdown-buttonul {
  margin: 0;
}
.share-button .dropdown-button a {
  height: 64px;
}
.share-button .dropdown-button:hover {
  background-color: #d0021b;
}
.share-button #dropdown2 {
  background-color: white;
  padding: 0px;
}
.share-button #dropdown2 li {
  display: list-item;
  margin-left: 0px;
  text-align: left;
  background-color: white;
  border-bottom: 1px solid #F2F2F2;
  height: 64px;
}
.share-button #dropdown2 li a {
  text-align: center;
  height: 64px;
  color: #212121;
  padding: 22px;
}
.share-button #dropdown2 li a:hover {
  color: white;
}
@media only screen and (max-width: 380px) {
  .share-button #dropdown2 {
    width: 75px;
  }
}
.share-button #dropdown2 .active {
  color: white;
}

.right-topic-title {
  display: inline-block;
  width: calc(100% - 45px);
  overflow: hidden;
  text-overflow: ellipsis;
}

#serie-header {
  background-color: #fbc02d;
  color: #fff;
  margin-bottom: 20px;
}
#serie-header h1 {
  margin: 40px 0;
}
#serie-header .serie-card-title {
  display: block;
  margin: 53px 0;
  height: 44px;
}
#serie-header p {
  font-size: 16px;
  margin: -44px 0 40px 0;
}
#serie-header p i {
  margin: 3px;
}
#serie-header #search {
  background-color: #212121;
  display: block;
}
#serie-header #search .relative-for-clear-btn {
  position: relative;
}
#serie-header #search input {
  box-shadow: none;
  display: inline-block;
}
#serie-header #search input:focus {
  border-bottom: 1px solid #fbc02d;
}
#serie-header #search .clear-button {
  position: absolute;
  color: #fff;
  font-size: 20px;
  top: 4px;
  right: 9px;
}
#serie-header #search .clear-button:hover {
  color: #fbc02d;
}
@media only screen and (min-width: 381px) {
  #serie-header #search .clear-button {
    right: 19px;
    font-size: 25px;
    top: 3px;
  }
}
@media only screen and (min-width: 992px) {
  #serie-header #search .clear-button {
    top: 4px;
  }
}
@media only screen and (min-width: 1200px) {
  #serie-header #search .clear-button {
    top: 5px;
  }
}
#serie-header #toggle-search {
  height: 64px;
  display: block;
  padding: 5px 15px;
}
#serie-header #toggle-search i {
  font-size: 36px;
  color: white;
}
#serie-header #toggle-search:hover {
  background-color: #fbc02d;
}
@media only screen and (max-width: 380px) {
  #serie-header #toggle-search {
    padding: 12px 9px;
  }
  #serie-header #toggle-search i {
    font-size: 25px;
  }
}
#serie-header .check-v-angular {
  margin-left: 5px;
  display: inline-block;
  height: 64px;
  padding-top: 20px;
}
#serie-header .check-v-angular p {
  display: inline-block;
  padding-left: 5px;
  font-size: 16px;
  margin: 0 auto;
}
@media only screen and (max-width: 380px) {
  #serie-header .check-v-angular {
    font-size: 13px;
  }
}
#serie-header .check-v-angular label {
  padding-left: 23px;
  color: white;
  font-size: 16px;
}
@media only screen and (max-width: 380px) {
  #serie-header .check-v-angular label {
    font-size: 13px;
  }
}
#serie-header .check-v-angular .filled-in:checked + label:after {
  background-color: #fbc02d;
  border: 2px solid #fbc02d;
}
#serie-header .check-v-angular .filled-in:checked + label:before {
  border-right: 3px solid white;
  border-bottom: 3px solid white;
}
#serie-header .check-v-angular .filled-in:not(:checked) + label:after {
  background-color: white;
  border: 2px solid #838383;
}

.gray-banner-yellow {
  background-color: #9B9B9B;
  height: 64px;
  margin-bottom: 0px;
}
.gray-banner-yellow #sort-list {
  display: inline-block;
  margin-left: 35px;
}
.gray-banner-yellow .btn-flat {
  background-color: white;
  padding: 0px 15px;
  color: #212121;
}
.gray-banner-yellow .btn-flat:hover {
  background-color: #fbc02d;
  color: white;
}
.gray-banner-yellow ul li {
  display: inline-block;
  font-size: 16px;
}
.gray-banner-yellow ul li:hover {
  background-color: #9B9B9B;
}
.gray-banner-yellow ul .active {
  color: white;
  background-color: #fbc02d;
}
.gray-banner-yellow ul li + li {
  margin-left: 10px;
}
.gray-banner-yellow ul li:first-child {
  margin-left: 14px;
}
.gray-banner-yellow #sort-list {
  display: block;
}
@media only screen and (max-width: 760px) {
  .gray-banner-yellow #sort-list {
    display: none;
  }
}
.gray-banner-yellow .sort-button {
  display: none;
  line-height: 62px;
  height: 64px;
  width: 90px;
}
@media only screen and (max-width: 380px) {
  .gray-banner-yellow .sort-button {
    font-size: 13px;
    width: 75px;
    display: inline-block;
  }
}
.gray-banner-yellow .sort-button ul {
  margin-top: 0;
}
.gray-banner-yellow .sort-button ul li {
  height: 64px;
  text-align: center;
}
.gray-banner-yellow .sort-button .dropdown-button {
  display: inline-block;
  width: 90px;
  color: white;
  height: 64px;
  margin: 0 auto;
}
@media only screen and (max-width: 380px) {
  .gray-banner-yellow .sort-button .dropdown-button {
    font-size: 13px;
    width: 75px;
  }
}
.gray-banner-yellow .sort-button .dropdown-buttonul {
  margin: 0;
}
.gray-banner-yellow .sort-button .dropdown-button a {
  height: 64px;
}
.gray-banner-yellow .sort-button .dropdown-button:hover {
  background-color: #fbc02d;
}
.gray-banner-yellow .sort-button .dropdown-button span {
  display: inline-block;
  height: 64px;
}
.gray-banner-yellow .sort-button .dropdown-button i {
  margin: 0 !important;
}
.gray-banner-yellow .sort-button #dropdown1 {
  background-color: white;
  padding: 0px;
}
.gray-banner-yellow .sort-button #dropdown1 li {
  display: list-item;
  margin-left: 0px;
  text-align: left;
  background-color: white;
  border-bottom: 1px solid #F2F2F2;
  height: 64px;
}
.gray-banner-yellow .sort-button #dropdown1 li a {
  text-align: center;
  height: 64px;
  color: #212121;
  padding: 22px;
}
.gray-banner-yellow .sort-button #dropdown1 li a:hover {
  color: white;
  background-color: #fbc02d;
}
@media only screen and (max-width: 380px) {
  .gray-banner-yellow .sort-button #dropdown1 {
    width: 75px;
  }
}
.gray-banner-yellow .sort-button #dropdown1 .active {
  color: white;
}
@media only screen and (max-width: 760px) {
  .gray-banner-yellow .sort-button {
    display: inline-block;
  }
}

.no-padding-left {
  padding-left: 0 !important;
}

#lesson-header {
  background-color: #fbc02d;
  color: #fff;
}
#lesson-header h1 {
  margin: 50px 0;
}

#post-header {
  background-color: #fbc02d;
  color: #fff;
}
#post-header h1 {
  margin: 50px 0;
}

#stats-header {
  min-height: 200px;
  background: #333333 url(../img/blackboard.png) no-repeat center;
  background-size: cover;
}

#stats {
  margin-top: -100px;
}

.stats-item {
  position: relative;
  float: left;
}
.stats-item h2 {
  text-align: center;
  position: absolute;
  line-height: 160px;
  margin: 0;
  width: 100%;
}
.stats-item svg {
  transform: rotate(-90deg);
}

.circle_animation {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  -webkit-animation: html 1s ease-out forwards;
  animation: html 1s ease-out forwards;
}

@-webkit-keyframes html {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes html {
  to {
    stroke-dashoffset: 0;
  }
}
#faq-header {
  height: 150px;
  background: #333333 url(../img/greenboard.png) no-repeat center;
  background-size: cover;
  padding-top: 53px;
}
#faq-header h1 {
  color: #fff;
  margin: 0;
}

.faq-search {
  display: inline-block;
  background-color: #2F5247;
  height: 64px;
  width: 100%;
}
.faq-search .relative-for-clear-btn {
  position: relative;
}
.faq-search input {
  box-shadow: none;
  display: inline-block;
}
.faq-search input:focus {
  border-bottom: 1px solid #fff;
}
.faq-search .clear-button {
  position: absolute;
  color: #fff;
  font-size: 20px;
  top: 4px;
  right: 12px;
}
.faq-search .clear-button:hover {
  color: #9B9B9B;
}
@media only screen and (min-width: 381px) {
  .faq-search .clear-button {
    right: 15px;
    font-size: 25px;
    top: 3px;
  }
}
@media only screen and (min-width: 992px) {
  .faq-search .clear-button {
    top: 4px;
  }
}
@media only screen and (min-width: 1200px) {
  .faq-search .clear-button {
    top: 5px;
  }
}

#faq {
  margin-top: 20px;
}
#faq .faq-side-bar {
  padding: 0 !important;
}
#faq .faq-side-header {
  background-color: #2F5247;
  height: 64px;
}
#faq .card-title {
  display: inline-block;
  color: #fff;
  font-weight: 400;
  font-size: 30px;
  padding-top: 8px;
  padding-left: 3%;
}
#faq .faq-nav {
  padding-left: 3%;
}
#faq .faq-nav h4 {
  font-size: 18px;
}
#faq .card-content {
  padding: 20px;
}
#faq .faq-img {
  display: none;
  margin: 0 0 20px 20px;
  height: 100%;
}
@media only screen and (min-width: 750px) {
  #faq .faq-img {
    display: block;
    width: 40%;
  }
}
@media only screen and (min-width: 993px) {
  #faq .faq-img {
    width: 35%;
  }
}
#faq .faq-item {
  margin-bottom: 2rem;
}
#faq h3 {
  margin: 4px 0 24px 0;
}
#faq p {
  font-size: 16px;
  margin: 0 0 1rem;
}
@media only screen and (min-width: 750px) {
  #faq p {
    max-width: 60%;
  }
}
@media only screen and (min-width: 993px) {
  #faq p {
    max-width: 65%;
  }
}

.card-recipe .card-banner {
  -moz-border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px;
  border-radius: 2px 2px 0 0;
  height: 151px;
  position: relative;
}
.card-recipe .card-banner .version-logo {
  display: block;
  width: 90%;
  max-width: 313px;
  padding-top: 24px;
  margin: auto;
  margin-bottom: 20px;
}
.card-recipe .card-banner .chip {
  display: inline-block;
  background: none;
  color: #fff;
  padding-left: 16px;
  padding-right: 0px;
  padding-bottom: 16px;
  font-size: 16px;
  font-weight: 300;
}
.card-recipe .card-banner .card-level {
  position: absolute;
  display: block;
  right: 16px;
  bottom: 8px;
}
.card-recipe .card-content {
  padding: 24px 16px;
  min-height: 195px;
}
@media only screen and (min-width: 320px) {
  .card-recipe .card-content {
    min-height: 165px;
  }
}
@media only screen and (min-width: 466px) {
  .card-recipe .card-content {
    min-height: 135px;
  }
}
@media only screen and (min-width: 601px) {
  .card-recipe .card-content {
    min-height: 195px;
  }
}
@media only screen and (min-width: 731px) {
  .card-recipe .card-content {
    min-height: 165px;
  }
}
@media only screen and (min-width: 1321px) {
  .card-recipe .card-content {
    min-height: 135px;
  }
}
.card-recipe .card-content .card-title {
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
  color: #212121;
  margin-bottom: 7px;
  display: block;
}
.card-recipe .card-content .card-date {
  font-size: 16px;
  color: #727272;
  font-weight: 400;
}
.card-recipe .card-action {
  border: none;
  padding: 0px 16px 24px;
}
.card-recipe .card-action .card-view {
  font-size: 18px;
  color: #d0021b;
}
.card-recipe .card-action .card-view:hover {
  color: #000;
}
.card-recipe .card-action .card-icons {
  font-size: 20px;
  padding-right: 16px;
  padding-left: 5px;
}
.card-recipe .card-action .mdi-action-visibility {
  padding-right: 0px;
}
.card-recipe .card-action .mdi-action-visibility:before {
  position: relative;
  top: 2px;
}
.card-recipe.v1 .card-banner {
  background: #2b2b2b;
}
.card-recipe.v2 .card-banner {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjEuMCIgeDI9IjEuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBlNjZjNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzA0NDY5NSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, #0e66c4), color-stop(100%, #044695));
  background-image: -moz-linear-gradient(bottom, #0e66c4 0%, #044695 100%);
  background-image: -webkit-linear-gradient(bottom, #0e66c4 0%, #044695 100%);
  background-image: linear-gradient(to top right, #0e66c4 0%, #044695 100%);
}
.card-recipe.v2 .version-logo {
  width: 73%;
  max-width: 256px;
}

.card-serie .card-banner {
  -moz-border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px;
  border-radius: 2px 2px 0 0;
  height: 151px;
  position: relative;
  z-index: 0;
}
.card-serie .card-banner .version-logo {
  display: block;
  height: 145px;
  position: absolute;
  right: 0px;
  opacity: 0.7;
  top: 3px;
  z-index: -1;
}
.card-serie .card-banner .serie-card-title {
  display: block;
  margin: auto;
  max-width: 90%;
  padding-top: 60px;
}
.card-serie .card-banner .lessons-link {
  display: inline-block;
  position: absolute;
  bottom: 16px;
  color: #fff;
  left: 16px;
  font-size: 16px;
  font-weight: 400;
  height: 24px;
}
.card-serie .card-banner .lessons-count {
  display: inline-block;
  width: 24px;
  height: 24px;
  padding-top: 2px;
  text-align: center;
  background-color: #fff;
  font-weight: 900;
  font-size: 14px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #2b2b2b;
}
.card-serie .card-content {
  padding: 24px 16px;
  min-height: 195px;
}
@media only screen and (min-width: 320px) {
  .card-serie .card-content {
    min-height: 165px;
  }
}
@media only screen and (min-width: 466px) {
  .card-serie .card-content {
    min-height: 135px;
  }
}
@media only screen and (min-width: 601px) {
  .card-serie .card-content {
    min-height: 195px;
  }
}
@media only screen and (min-width: 731px) {
  .card-serie .card-content {
    min-height: 165px;
  }
}
@media only screen and (min-width: 1321px) {
  .card-serie .card-content {
    min-height: 135px;
  }
}
.card-serie .card-content .card-title {
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
  color: #212121;
  margin-bottom: 7px;
  display: block;
}
.card-serie .card-content .card-date {
  font-size: 16px;
  color: #727272;
  font-weight: 400;
}
.card-serie .card-action {
  border: none;
  padding: 0px 16px 24px;
}
.card-serie .card-action .card-view {
  font-size: 18px;
  color: #d0021b;
}
.card-serie .card-action .card-view:hover {
  color: #000;
}
.card-serie .card-action .card-icons {
  font-size: 20px;
  padding-right: 16px;
  padding-left: 5px;
}
.card-serie .card-action .mdi-action-visibility {
  padding-right: 0px;
}
.card-serie .card-action .mdi-action-visibility:before {
  position: relative;
  top: 2px;
}
.card-serie.v1 .card-banner {
  background: #2b2b2b;
}
.card-serie.v2 .lessons-count {
  color: #0C5EB9;
}
.card-serie.v2 .card-banner {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjEuMCIgeDI9IjEuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBlNjZjNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzA0NDY5NSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, #0e66c4), color-stop(100%, #044695));
  background-image: -moz-linear-gradient(bottom, #0e66c4 0%, #044695 100%);
  background-image: -webkit-linear-gradient(bottom, #0e66c4 0%, #044695 100%);
  background-image: linear-gradient(to top right, #0e66c4 0%, #044695 100%);
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

.markdown-body p {
  font-size: 16px;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-padding-left {
  padding-left: 0;
}

.text-red {
  color: #d0021b !important;
}

.clear:after {
  display: table;
  clear: both;
  content: "";
}

.beta, .ibeta, .fbeta {
  position: relative;
}
.beta:after, .ibeta:after, .fbeta:after {
  content: "beta";
  position: absolute;
  color: #fff;
  font-weight: 100;
  letter-spacing: 1.2px;
}

.beta:after {
  top: -5px;
  right: 4px;
  font-size: 8px;
}
@media (min-width: 600px) {
  .beta:after {
    font-size: 9px;
    right: 2px;
  }
}
@media (min-width: 660px) {
  .beta:after {
    font-size: 10px;
    right: 0px;
  }
}

.ibeta:after {
  top: -20px;
  font-size: 8px;
  right: -23px;
  letter-spacing: 1px;
}

.fbeta:after {
  top: -5px;
  left: 14rem;
  font-size: 10px;
}

.custom-red {
  background-color: #d0021b;
}
.custom-red:hover {
  background-color: #b70218;
}
.custom-red:focus {
  background-color: #d0021b;
}

.custom-gray {
  background-color: #9B9B9B;
}
.custom-gray:hover {
  background-color: #8e8e8e;
}
.custom-gray:focus {
  background-color: #9B9B9B;
}

.custom-yellow {
  background-color: #fbc02d;
}
.custom-yellow:hover {
  background-color: #fbb814;
}
.custom-yellow:focus {
  background-color: #fbc02d;
}

.red-bg {
  background-color: #d0021b;
}

.yellow-bg {
  background-color: #fbc02d;
}

.decoration {
  position: relative;
}
.decoration:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 50px;
  border-bottom: 2px solid #d0021b;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.badge {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

#error-page {
  min-height: 350px;
  background: #333333 url(../img/error_board.jpg) no-repeat center;
  background-size: cover;
}
@media only screen and (min-width: 500px) {
  #error-page {
    min-height: 450px;
  }
}
@media only screen and (min-width: 800px) {
  #error-page {
    min-height: 550px;
  }
}
@media only screen and (min-width: 1200px) {
  #error-page {
    min-height: 600px;
  }
}
#error-page h2 {
  color: #ffffff;
  font-weight: 300;
  font-size: 24px;
}
@media only screen and (min-width: 500px) {
  #error-page h2 {
    font-size: 28px;
  }
}
@media only screen and (min-width: 800px) {
  #error-page h2 {
    font-size: 30px;
  }
}
#error-page img {
  width: 100%;
  width: 300px;
}
@media only screen and (min-width: 500px) {
  #error-page img {
    width: 400px;
  }
}
@media only screen and (min-width: 800px) {
  #error-page img {
    width: 500px;
  }
}
@media only screen and (min-width: 1200px) {
  #error-page img {
    width: 600px;
  }
}

#banner {
  min-height: 600px;
  background: #333333 url(../img/blackboard.png) no-repeat center;
  background-size: cover;
}
#banner h2 {
  color: #ffffff;
  font-weight: 300;
}
#banner img {
  width: 100%;
  max-width: 300px;
}

#about h2 {
  font-weight: 500;
  margin: 10px 0;
  border-bottom: 1px solid #212121;
}
#about .module {
  margin-bottom: 50px;
}
@media (min-width: 600px) {
  #about .module {
    display: table-row;
  }
}
#about .left-align, #about .right-align, #about .center-align {
  vertical-align: middle;
}
@media (min-width: 600px) {
  #about .left-align, #about .right-align, #about .center-align {
    display: table-cell;
    width: 50%;
  }
}
#about .right-align {
  text-align: left;
}
@media (min-width: 600px) {
  #about .right-align {
    text-align: right;
  }
}
#about img {
  width: 200px;
}

#intermediate {
  min-height: 200px;
  background: #333333 url(../img/blackboard.png) no-repeat center;
  background-size: cover;
}
#intermediate h2 {
  color: #ffffff;
  font-weight: 300;
}
#intermediate .left-align, #intermediate .right-align {
  text-align: center;
}
@media (min-width: 600px) {
  #intermediate .left-align {
    text-align: left;
  }
  #intermediate .right-align {
    text-align: right;
  }
}

#faq .collapsible-header {
  font-size: 14px;
  background-color: #333333;
  color: #fff;
}
#faq .collapsible-header.active {
  background-color: #d0021b;
}
@media (min-width: 600px) {
  #faq .collapsible-header {
    font-size: 18px;
  }
}

#news {
  background-color: #eeeeee;
}

.help-block {
  font-size: 14px;
  margin: 0 0 0 3rem;
}

.input-field label {
  color: #000000;
}

.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field textarea.materialize-textarea:focus + label {
  color: #000000;
}

.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field textarea.materialize-textarea:focus {
  border-bottom: 1px solid #000000;
  box-shadow: 0 1px 0 0 #000000;
}

.input-field input[type=text].valid,
.input-field input[type=email].valid,
.input-field textarea.materialize-textarea.valid {
  border-bottom: 1px solid #000000;
  box-shadow: 0 1px 0 0 #000000;
}

.input-field input[type=text].invalid,
.input-field input[type=email].invalid,
.input-field textarea.materialize-textarea.invalid {
  border-bottom: 1px solid #000000;
  box-shadow: 0 1px 0 0 #000000;
}

.input-field .prefix.active {
  color: #000000;
}

footer.page-footer {
  background-color: #333333;
  margin-top: 0;
}
footer.page-footer .footer-copyright {
  background-color: #212121;
}
footer.page-footer .footer-copyright .social-icons {
  display: inline-block;
  margin: 20px auto;
  list-style: none;
  padding: 0;
  font-size: 22px;
}
footer.page-footer .footer-copyright .social-icons li {
  margin-left: 20px;
  display: inline-block;
}
footer.page-footer .footer-copyright .social-icons li .social {
  display: inline-block;
  position: relative;
  width: 25px;
  height: 25px;
}
footer.page-footer .footer-copyright .social-icons li .social:before {
  position: absolute;
  font-family: FontAwesome;
  color: white;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
footer.page-footer .footer-copyright .social-icons li .social:hover:before {
  color: #d0021b;
}
footer.page-footer .footer-copyright .social-icons li .social.tw:before {
  content: "";
}
footer.page-footer .footer-copyright .social-icons li .social.gt:before {
  content: "";
}
footer.page-footer .footer-copyright .social-icons li .social.cp:before {
  content: "";
}
footer .logo {
  width: 20px;
  height: auto;
}

.modal {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.modal .modal-content {
  padding: 0;
}

.modal-form-padding {
  padding: 25px;
}

.modal-header {
  padding: 21px 15px;
  height: 64px;
}
.modal-header h2 {
  color: #fff;
  display: inline-block;
  font-size: 20px;
}
.modal-header h2:after {
  display: none;
}
.modal-header a {
  display: inline-block;
  color: #fff;
  font-size: 25px;
  margin-top: -9px;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.modal-header a:hover {
  color: #9B9B9B;
  text-shadow: rgba(128, 128, 128, 0.2) 0px 0px 10px;
}
.modal-header a:active {
  color: #686868;
}
