<div id="my-recipes-header">
	<div class="container">
		<div class="row no-margin-bottom">
			<div class="col s12">
				<h1>
					<img src="{{myRecipesCtl.gravatar}}" class="avatar-img" alt="" /> {{myRecipesCtl.user.name}}</h1>
				<p>
					My Recipes
				</p>
			</div>
		</div>
	</div>
</div>

<ul class="tabs" tabs>
	<li class="tab"><a class="active" href="#myRecipes1">Create a Recipe</a></li>
	<li class="tab"><a href="#myRecipes2">Created Recipes</a></li>
</ul>

<div id="my-recipes">
	<div class="container section">
		<div class="row">
			<div id="myRecipes1">
				<div class="col s12">
					<div class="card">
						<div class="card-content">
							<form class="modal-form-padding" name="newRecipeForm" ng-submit="myRecipesCtl.submitRecipe(newRecipeForm.$valid)" novalidate>
								<div class="row">
									<div class="input-field col s12 m12 l12">
										<i class="mdi-content-create prefix"></i>
										<input id="icon_title" type="text" class="validate" name="title" ng-model="myRecipesCtl.recipe.title" required>
										<label for="icon_title">Title</label>

										<div ng-messages="newRecipeForm.title.$error" ng-if="newRecipeForm.title.$dirty">
											<div ng-message="required">
												<p class="help-block text-red"><i class="mdi-action-highlight-remove"></i> Please enter recipe's title</p>
											</div>
										</div>
									</div>
									<div class="input-field col s12 m12 l12">
										<i class="mdi-action-description prefix"></i>
										<textarea id="icon_content" name="content" ng-model="myRecipesCtl.recipe.content" required class="materialize-textarea" rows="16" cols="40"></textarea>
										<label for="icon_content">Content</label>

										<div ng-messages="newRecipeForm.content.$error" ng-if="newRecipeForm.content.$dirty">
											<div ng-message="required">
												<p class="help-block text-red"><i class="mdi-action-highlight-remove"></i> Please enter recipe's content</p>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s12 m6 l6">
										<i class="mdi-toggle-star prefix"></i>
										<select class="" id="icon_release" ng-model="myRecipesCtl.recipe.release" name="release" material-select watch>
											<option ng-repeat="value in myRecipesCtl.releases">{{value}}</option>
										</select>
										<label for="icon_release">Release</label>
									</div>
									<div class="input-field col s12 m6 l6">
										<i class="mdi-image-style prefix"></i>
										<select class="" id="icon_version" ng-model="myRecipesCtl.recipe.version" name="version" material-select watch>
											<option ng-repeat="value in myRecipesCtl.versions">{{value}}</option>
										</select>
										<label for="icon_version">Version</label>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s12">
										<i class="mdi-image-style prefix"></i>
										<select class="" id="icon_topic" ng-model="myRecipesCtl.recipe.topics" name="topic" material-select multiple>
											<option ng-repeat="value in myRecipesCtl.topics">{{value}}</option>
										</select>
										<label for="icon_topic">Topics</label>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s12 right-align">
										<button type="submit" class="waves-effect waves-light btn custom-red" ng-disabled="myRecipesCtl.submitted">Submit <i class="mdi-content-send right"></i></button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div id="myRecipes2">
				<div class="col s12">
					<div class="card">
						<div class="card-content">

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
