<div id="about-header">
	<div class="container center">
		<div class="row">
			<div class="col s12 m12 l6">
				<h1>Not another learning center!</h1>
			</div>
			<div class="col s12 m12 l6">
				<img src="img/mockup.png" alt="" />
			</div>
		</div>
	</div>
</div>

<div id="about" class="section">
	<div class="container center">
		<div class="row module">
			<div class="center-align">
				<img src="img/Knowlegde.png" alt="" />
			</div>
			<div class="left-align">
				<h2>Another learning platform?</h2>
				<p>AngularJs Recipes is created to make you a better developer. Everyone can create an account and add his/her recipes just for the shake of participation. Learning procedure can become tough and quite expensive but we want to make it free and fun for
					you. Who said that knowledge is not fun anymore?
				</p>
			</div>
		</div>
		<div class="row module">
			<div class="center-align hide-on-med-and-up">
				<img src="img/Contribute.png" alt="" />
			</div>
			<div class="right-align">
				<h2>Contribute</h2>
				<p>AngularJS Recipes is created and maintained by people who love web development and of course AngularJS. It is an open source and non-profitable project which aims to help developers become wiser and stronger. Becoming a vital member of this effort
					is important for us. Who doesn't want a stronger team anyway?
				</p>
			</div>
			<div class="center-align hide-on-small-only">
				<img src="img/Contribute.png" alt="" />
			</div>
		</div>
		<div class="row module">
			<div class="center-align">
				<img src="img/Share.png" alt="" />
			</div>
			<div class="left-align">
				<h2>Share</h2>
				<p>AngularJS Recipes wants to help you share your knowledge with others out there. There is nothing more important than sharing your ideas and experiences with other people. Instead of trying to pull interest through your webpage, try to shine among
					others here and gain some new followers. There are many benefits for every participant!</p>
			</div>
		</div>
	</div>
</div>
