<div id="about-header">
	<div class="container center">
		<div class="row">
			<div class="col s12 m12 l6">
				<h1>Not another learning center!</h1>
			</div>
			<div class="col s12 m12 l6">
				<img src="img/mockup.png" alt="" />
			</div>
		</div>
	</div>
</div>

<div id="about" class="section">
	<div class="container center">
		<div class="row module">
			<div class="center-align">
				<img src="img/Knowlegde.png" alt="" />
			</div>
			<div class="left-align">
				<h2>Why another learning platform?</h2>
				<p>AngularJS Recipes is created to make you a better developer. This platform is dedicated to developers who don't have the time to watch long videos or maybe read big and boring articles. It's purpose is to help developers create personal collections with valuable snippets and recipes so they can re-visit them with ease once they need them. Apart from that we hope that you can become really fast a stronger developer by studying small pieces of working and already tested code. Who said that knowledge is not fun anymore?
				</p>
			</div>
		</div>
		<div class="row module">
			<div class="center-align hide-on-med-and-up">
				<img src="img/Contribute.png" alt="" />
			</div>
			<div class="right-align">
				<h2>We love "active learners"</h2>
				<p>AngularJS Recipes is created and maintained by people who love web development and of course AngularJS. We are here to hear you, answer to your questions and make true your requests. Education without any short of communication is dead right? So start a new discussion, share your own solutions below our code, leave a valuable comment, vote monthly for a serie or ask a recipe whenever you like. We are here to provide the content you ask for, the content you need!
				</p>
			</div>
			<div class="center-align hide-on-small-only">
				<img src="img/Contribute.png" alt="" />
			</div>
		</div>
		<div class="row module">
			<div class="center-align">
				<img src="img/Share.png" alt="" />
			</div>
			<div class="left-align">
				<h2>Share knowledge</h2>
				<p>AngularJS Recipes aims to create a really active community for web developers. Share your experience and knowledge with others out there or even your impressions and ideas with us. There is nothing more important than sharing knowledge with other people. We love to hear you, we want to help you, we need to become valuable for you. Help us spread this effort and enjoy the goodies of a platform which aims to become your right hand!</p>
			</div>
		</div>
	</div>
</div>
