<div id="faq-header">
	<div class="container">
		<img class="faq-header-img" src="img/faq-header.svg">
		<h1 class="right">Help Center</h1>
	</div>
</div>

<div class="faq-search hide-on-large-only fixed box-shadow">
	<div class="container relative-for-clear-btn-top">
		<form>
			<input class="form-control" ng-model="faqCtl.searchFilter" type="text" name="searchFilter" placeholder="Search...">
			<i class="mdi-action-search faq-top-search-icon" ng-if="!faqCtl.searchFilter"></i>
			<a class="clear-button faq-top-clear" href="javascript:void(0)" ng-if="faqCtl.searchFilter" ng-click="faqCtl.clearSearch()"><i class="mdi-content-clear"></i></a>
		</form>
	</div>
</div>

<div id="faq">
	<div class="container">
		<div class="row">
			<div class="col l4 hide-on-med-and-down" faq-fixed>
				<div class="card">
					<div class="card-content faq-side-bar">
						<div class="faq-side-header">
							<span class="card-title white-text">FAQ's</span>
						</div>
						<div class="faq-search relative-for-clear-btn">
							<form>
								<input class="form-control" ng-model="faqCtl.searchFilter" type="text" name="searchFilter" placeholder="Search...">
								<i class="mdi-action-search faq-left-search-icon" ng-if="!faqCtl.searchFilter"></i>
								<a class="clear-button faq-left-clear" href="javascript:void(0)" ng-if="faqCtl.searchFilter" ng-click="faqCtl.clearSearch()"><i class="mdi-content-clear"></i></a>
							</form>
						</div>
						<div class="faq-nav" ng-repeat="faq in faqCtl.items">
							<a href="#faq{{$index + 1}}" scroller>
								<h4>{{faq.title}}</h4>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col l8 s12 right">
				<faq-item ng-show="faqCtl.filteredItems.length" ng-repeat="faq in faqCtl.filteredItems" id="faq{{$index + 1}}" class="card"></faq-item>

				<div class="card" ng-hide="faqCtl.filteredItems.length">
					<div class="card-content">
						<h2 class="center" ng-if="faqCtl.searchFilter">No results found for "{{faqCtl.searchFilter}}"</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
