<div id="faq-header"></div>

<div id="faq">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <h1>FAQ</h1>
                        <div class="divider"></div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro ut labore animi unde vitae debitis, magnam accusantium tempore, distinctio enim placeat voluptatum reprehenderit deleniti numquam neque laudantium quas rem ex quo eveniet. Molestiae consectetur
                            adipisci consequatur atque voluptatibus id impedit neque, accusamus dolores aspernatur, nihil tempora vel culpa. Sunt, ullam fuga, praesentium non incidunt omnis quisquam adipisci illum, quos culpa, repellat nemo. Ducimus officia
                            laudantium mollitia odit voluptatibus ipsum quaerat praesentium expedita in maxime. Excepturi deleniti totam quas error animi repellat necessitatibus maiores corrupti repellendus et dicta explicabo sunt officiis omnis eum voluptatum
                            ad beatae sed cum eligendi nemo, voluptatem!
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum voluptate ratione quod, officia libero, vero rerum asperiores, neque facilis quo eveniet incidunt veritatis repellendus est deleniti blanditiis quasi distinctio provident ullam tempora
                            unde iste dolorem magni? Unde cupiditate officia in labore tempore dolorem aliquam, repellendus eaque dignissimos! Iure, quasi pariatur!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
