<div id="stats-header"></div>

<div id="stats">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col s12">
                                <h1>Statistics</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <div class="stats-item">
                                    <h2>HTML</h2>
                                    <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
                                        <g>
                                            <title>Layer 1</title>
                                            <circle id="circle" class="circle_animation" r="69.85699" cy="81" cx="81" stroke-width="8" stroke="#6fdb6f" fill="none" />
                                        </g>
                                    </svg>
                                </div>
                                <div class="stats-item">
                                    <h2>HTML</h2>
                                    <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
                                        <g>
                                            <title>Layer 1</title>
                                            <circle id="circle" class="circle_animation" r="69.85699" cy="81" cx="81" stroke-width="8" stroke="#6fdb6f" fill="none" />
                                        </g>
                                    </svg>
                                </div>
                                <div class="stats-item">
                                    <h2>HTML</h2>
                                    <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
                                        <g>
                                            <title>Layer 1</title>
                                            <circle id="circle" class="circle_animation" r="69.85699" cy="81" cx="81" stroke-width="8" stroke="#6fdb6f" fill="none" />
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <p>
                            Posts: {{statsCtl.posts.length}}
                        </p>
                        <p>
                            Recipes Categories: {{statsCtl.topics.length}}
                        </p>
                        <p>
                            Recipes: {{statsCtl.recipes.length}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
