<div id="post-header" ng-style="{'background-image': 'url({{postCtl.post.img}})'}">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h1>{{postCtl.post.title}}</h1>
				<p>
					{{postCtl.post.created_at | dateToISO | date:'d MMMM y'}}
				</p>
			</div>
		</div>
	</div>
</div>

<div id="post" class="section">
	<div class="container">
		<div class="row">
			<div class="col l8 m8 s12">
				<div class="card">
					<div class="card-content">
						<div nag-prism source="{{postCtl.post.content_converted}}"></div>
					</div>
				</div>

				<!-- Disqus Comments -->
				<div class="card">
					<div class="card-content">
						<dir-disqus disqus-shortname="angularjs-recipes" disqus-identifier="{{ postCtl.post.uuid }}" disqus-url="http://localhost:8000/#!/posts/{{ postCtl.post.uuid }}/{{postCtl.post.slug}}">
						</dir-disqus>
					</div>
				</div>
			</div>

			<div class="col l4 m4 s12">
				<div class="card">
					<div class="card-content">
						<span class="card-title black-text">Latest Posts</span>
						<ul class="collection">
							<a ng-href="#!/posts/{{post.uuid}}/{{post.slug}}" class="collection-item black-text" tooltipped data-position="top" data-delay="50" data-tooltip="{{post.title}}" ng-repeat="post in postCtl.posts">
								<div class="parent-right-topic-title">
									<span class="right-topic-title">{{post.title}}</span>
								</div>
							</a>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
