#faq-header
    min-height: 200px
    background: $medium-black url(../img/blackboard.png) no-repeat center
    background-size: cover
#faq
    margin-top: -100px
    .faq-item
        margin-bottom: 2rem
    h3
        margin: 1rem 0
    p
        font-size: 16px
        margin: 0 0 1rem
    .divider
        margin: 1rem 0
