footer
	&.page-footer
		background-color: $medium-black
		margin-top: 0
		.footer-copyright
			background-color: $dark-black
			.social-icons
				display: inline-block
				margin: 20px auto
				list-style: none
				padding: 0
				font-size: 22px
				li
					margin-left: 20px
					display: inline-block
					.social
						display: inline-block
						position: relative
						width: 25px
						height: 25px
						&:before
							position: absolute
							font-family: FontAwesome
							color: white
							+translate(-50%, -50%)
							+transition(all 0.2s linear)
						&:hover
							&:before
								color: $custom-red
						&.tw
							&:before
								content: "\f099"
						&.gt
							&:before
								content: "\f09b"
						&.cp
							&:before
								content: "\f1cb"
	.logo
		width: 20px
		height: auto
.modal
	+border-radius(4px)
	.modal-content
		padding: 0
	.modal-form-padding
		padding: 25px
	.modal-header
		padding: 21px 15px
		height: 64px
		h2
			color: #fff
			display: inline-block
			font-size: 20px
			&:after
				display: none
		a
			display: inline-block
			color: #fff
			font-size: 25px
			margin-top: -9px
			+transition(all 0.1s linear)
			&:hover
				color: #000
				+text-shadow(rgba(gray, 0.2) 0px 0px 10px)
			&:active
				color: darken($custom-gray, 20%)
