body
	display: flex
	min-height: 100vh
	flex-direction: column

main
	flex: 1 0 auto
nav
	font-size: 0
	.brand-logo
		font-size: 20px
		padding-left: 28px
		background: url(../img/logo.png) no-repeat left center
		background-size: 25px
		margin-left: 15px
		@media only screen and (min-width : 993px)
			margin-left: 0
		+image-2x('../img/logo@2x.png', 25px, auto)
		+respond-to(600px)
			padding-left: 38px
			font-size: 26px
			background-size: 35px
			+image-2x('../img/logo@2x.png', 35px, auto)
		+respond-to(660px)
			font-size: 30px
			padding-left: 43px
			+image-2x('../img/logo@2x.png', 40px, auto)
	ul li
		height: 64px
		a
			text-transform: uppercase
		&:hover, &.active
			background-color: $medium-black
		&.no-btn
			a
				padding: 0 15px
			&:hover, &.active
				background-color: $dark-black

.side-nav
	li
		padding: 0
	a
		padding-left: 30px
.fixed-top
	margin-bottom: 84px !important
	.fixed
		position: fixed
		top: 56px
		width: 100%
		z-index: 2
		@media only screen and (min-width : 601px)
			top: 64px
// padding-right to display "beta"
nav .brand-logo
	padding-right: 28px
// delete it after normal release

.avatar-img
	float: left
	margin: 10px 5px 0 0
	vertical-align: middle
	width: 40px
	height: 40px
	+border-radius(50%)
.master-red
	.avatar-img
		border: 2px solid $custom-red
.master-yellow
	.avatar-img
		border: 2px solid $custom-yellow
#dropdown3
	background-color: white
	li
		background-color: white
		border-bottom: 1px solid #F2F2F2
		height: 64px
		&:last-child
			border-bottom: none
			background-color: $custom-gray
			a
				color: #fff

		a
			text-align: center
			height: 64px
			color: $dark-black
			padding: 22px
			&:hover
				color: white
.dropdown-content li>a,
.dropdown-content li>span
	&:hover
		background-color: $custom-red
