#recipe-header
	background-color: $custom-red
	color: #fff
	h1
		margin: 50px 0
		margin: 40px 0 0 0
	p
		font-size: 16px
		margin: 5px 0 40px 0
		i
			margin: 3px 
	.row
		margin-bottom: 0
.gray-banner
	background-color: #9B9B9B
	height: 65px
	margin-bottom: 30px
	nav
		background-color: #9B9B9B
		box-shadow: none
		ul
			i
				display: inline-block
				font-size: 24px
				vertical-align: top
				padding-right: 5px
			li
				text-align: center
				min-width: 80px
				font-size: 16px
				.sort
					width: 80px !important
				&:hover
					background-color: #9B9B9B
					a
						font-size: 15px
						color: #4a4a4a
			.active
				color: #d0021b
		input
			display: inline-block
			width: 190px
			height: 30px
			margin-top: 17px
			color: #2b2b2b
			&:focus
				outline-color: #727272
				outline-width: 4px
			@media only screen and (min-width : 380px)
				width: 250px
	.sort-button
		display: inline-block
	#nav-mobile
		display: block
		@media only screen and (max-width : 760px)
			display: none
	.sort-button
		line-height: 64px
		.active
			color: #d0021b
		a	
			font-size: 16px
		display: none
		@media only screen and (max-width : 760px)
			display: inline-block

