#serie-header
	background-color: $custom-yellow
	color: #fff
	margin-bottom: 20px
	h1
		margin: 40px 0
	.serie-card-title
		display: block
		margin: 53px 0
		height: 44px
	p
		font-size: 16px
		margin: -44px 0 40px 0
		i
			margin: 3px
	.bookmark, .liked, .watched
		&.active i
			color: $custom-yellow

	// search bar
	#search
		background-color: $dark-black
		display: block
		.relative-for-clear-btn
			position: relative
		input
			box-shadow: none
			display: inline-block
			&:focus
				border-bottom: 1px solid $custom-yellow
		.clear-button
			position: absolute
			color: #fff
			font-size: 20px
			&:hover
				color: $custom-yellow
			top: 4px
			right: 9px
			@media only screen and (min-width : 381px)
				right: 19px
				font-size: 25px
				top: 3px
			@media only screen and (min-width : 992px)
				top: 4px
			@media only screen and (min-width : 1200px)
				top: 5px
	//end of CSS for search bar

	//search button
	#toggle-search
		height: 64px
		display: block
		padding: 5px 10px
		i
			font-size: 36px
			color: white
		&:hover
			background-color: $custom-yellow
		@media only screen and (max-width : 380px)
			padding: 12px 9px
			i
				font-size: 25px


	//End of CSS search button

	//Check box for Angular version
	.check-v-angular
		margin-left: 5px
		display: inline-block
		height: 64px
		padding-top: 20px
		p
			display: inline-block
			padding-left: 5px
			font-size: 16px
			margin: 0 auto
		@media only screen and (max-width : 380px)
			font-size: 13px

		label
			padding-left: 23px
			color: white
			font-size: 16px
			@media only screen and (max-width : 380px)
				font-size: 13px
		.filled-in:checked+label:after
			background-color: $custom-yellow
			border: 2px solid $custom-yellow
		.filled-in:checked+label:before
			border-right: 3px solid white
			border-bottom: 3px solid white
		.filled-in:not(:checked)+label:after
			background-color: white
			border: 2px solid #838383
	// End CSS Check box for Angular version

.gray-banner-yellow
	background-color: $custom-gray
	height: 64px
	margin-bottom: 0px
	//Sort By: Single 3 Buttons
	#sort-list
		display: inline-block
		margin-left: 35px
	.btn-flat
		background-color: white
		padding: 0px 15px
		color: $dark-black
		&:hover
			background-color: $custom-yellow
			color: white
	ul
		li
			display: inline-block
			font-size: 16px
			&:hover
				background-color: $custom-gray
		.active
			color: white
			background-color: $custom-yellow
		li+li
			margin-left: 10px
		li
			&:first-child
				margin-left: 14px
	#sort-list
		display: block
		@media only screen and (max-width : 760px)
			display: none
			//End CSS for Sort By: Single 3 Buttons

	.sort-button
		display: none
		line-height: 62px
		height: 64px
		width: 90px
		@media only screen and (max-width : 380px)
			font-size: 13px
			width: 75px
			display: inline-block
		ul
			margin-top: 0
			li
				height: 64px
				text-align: center
		.dropdown-button
			display: inline-block
			width: 90px
			color: white
			height: 64px
			margin: 0 auto
			@media only screen and (max-width : 380px)
				font-size: 13px
				width: 75px
			&ul
				margin: 0
			a
				height: 64px

			&:hover
				background-color: $custom-yellow
			span
				display: inline-block
				height: 64px
			i
				margin: 0 !important
		#dropdown1
			background-color: white
			padding: 0px
			li
				display: list-item
				margin-left: 0px
				text-align: left
				background-color: white
				border-bottom: 1px solid #F2F2F2
				height: 64px
				a
					text-align: center
					height: 64px
					color: $dark-black
					padding: 22px
					&:hover
						color: white
						background-color: $custom-yellow
			@media only screen and (max-width : 380px)
				width: 75px
			.active
				color: white
		@media only screen and (max-width : 760px)
			display: inline-block

.no-padding-left
	padding-left: 0 !important

.yellow-share
	&:hover
		background-color: $custom-yellow !important
	a
		&:hover
			background-color: $custom-yellow !important
