@import compass, colors

.signin, .signup
	.card
		width: 100%
		max-width: 450px
		margin-left: auto
		margin-right: auto
		.divider
			height: 2px
			background-color: $custom-red
		.social-btns
			margin-bottom: 0
			.or
				position: relative
				display: inline-block
				width: 100%
				margin-bottom: 20px
				&:before, &:after
					height: 1px
					background-color: #e0e0e0
					position: absolute
					top: 8px
					content: ''
					width: 44%
				&:before
					left: 0
				&:after
					right: 0
