h1
	font-size: 40px

h2
	font-size: 30px
	line-height: 1.4em
h3
	font-size: 24px
	line-height: 1.4em

h4
	font-size: 20px
.custom-box-shadow
	+box-shadow(rgba(0,0,0,0.16) 0 2px 3px 0 , rgba(0,0,0,0.12) 0 3px 3px 0)
.markdown-body p
	font-size: 16px
.no-margin-bottom
	margin-bottom: 0
.no-padding-left
	padding-left: 0
.text-red
	color: $custom-red !important
.clear
	&:after
		display: table
		clear: both
		content: ''
// CSS FOR BETA SYMBOL
.beta,.ibeta,.fbeta
	position: relative
	&:after
		content: "beta"
		position: absolute
		color: #fff
		font-weight: 100
		letter-spacing: 1.2px
.beta
	&:after
		top: -5px
		right: 4px
		font-size: 8px
		+respond-to(600px)
			font-size: 9px
			right: 2px
		+respond-to(660px)
			font-size: 10px
			right: 0px
.ibeta
	&:after
		top: -20px
		font-size: 8px
		right: -23px
		letter-spacing: 1px
.fbeta
	&:after
		top: -5px
		left: 14rem
		font-size: 10px
// CSS FOR BETA SYMBOL

.custom-red
	background-color: $custom-red
	&:hover
		background-color: darken($custom-red, 5%)
	&:focus
		background-color: $custom-red
.custom-gray
	background-color: $custom-gray
	&:hover
		background-color: darken($custom-gray, 5%)
	&:focus
		background-color: $custom-gray
.custom-yellow
	background-color: $custom-yellow
	&:hover
		background-color: darken($custom-yellow, 5%)
	&:focus
		background-color: $custom-yellow
.red-bg
	background-color: $custom-red
.red
	background-color: $custom-red !important
.yellow
	background-color: $custom-yellow !important
.yellow-bg
	background-color: $custom-yellow
.decoration
	position: relative
	&:after
		content: ""
		position: absolute
		display: inline-block
		width: 50px
		border-bottom: 2px solid $custom-red
		bottom: -10px
		margin: 0 auto
		left: 0
		right: 0
.badge
	+border-radius(2px)
.material-tooltip
	background-color: $medium-black
	+box-shadow(0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12))
	.backdrop
		background-color: $medium-black
.tabs
	+box-shadow(0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12))
	+border-radius(2px)
	height: 64px
	overflow: hidden
	.tab
		height: 64px
		a
			color: $custom-red
			line-height: 64px
	.indicator
		background-color: $custom-red
.modal
	&.small-modal
		width: 100%
		max-width: 400px
	h4
		line-height: 1.4em
.master-red
	.no-btn a
		background-color: $custom-red
	.active-text.collection-item
		color: $custom-red
	.modal
		.modal-header
			background-color: $custom-red
		.btn
			background-color: $custom-red
.master-yellow
	.no-btn a
		background-color: $custom-yellow
	.active-text.collection-item
		color: $custom-yellow
	.modal
		.modal-header
			background-color: $custom-yellow
		.btn
			background-color: $custom-yellow
.dropdown-content li>a,
.dropdown-content li>span
	color: $dark-black
	&:hover
		background-color: $custom-red
		color: #fff

pre[class*="language-"]
	+border-radius(2px)
div.prism-show-language > div.prism-show-language-label[data-language]
	+border-radius(0 2px 0 2px)
	color: #fff

.collapsible-body p
	padding: .5rem 1rem
